# 1. What is a Rug Plot in Seaborn?

A rug plot is a simple plot that shows individual data points along a single axis (usually the x-axis) as small vertical or horizontal lines (like a "rug" lying on the axis).

# 2. Why Do We Use It

<table>
     <tr>
        <th>Purpose</th>
        <th>Explanation</th>
    </tr>
    <tr>
        <td>Show exact data points</td>
        <td>Useful for visualizing the actual position of every observation</td>
    </tr>
    <tr>
        <td>Complement KDE or histogram</td>
        <td>Helps verify where data is concentrated or sparse</td>
    </tr>
    <tr>
        <td>Understand sample size and clustering</td>
        <td>You can see if many values are stacked together in certain areas</td>
    </tr>
    <tr>
        <td>Good for small datasets</td>
        <td>With small to medium-sized data, it's easy to spot patterns</td>
    </tr>
</table>


### Note: When Not to Use Rug Plot:
> For very large datasets (thousands of points), rug plots can become unreadable.

> Too much overlap makes it hard to extract meaning.

In [1]:
# import libraries
import numpy as np # for linear algrebra etc.
import pandas as pd # for data cleaning, convert to DataFrame etc.
import matplotlib.pyplot as plt # for data visaualization
import seaborn as sns # for data visualization

In [2]:
# import dataset
file_path = r"D:\DataVisualizationForPython\datasets\supermarket_sales_utf8.csv"

sales = pd.read_csv(file_path)
if sales is None:
    raise FileNotFoundError("We Ara Sorry, File Path Not Found")

df_sales = pd.DataFrame(sales)
sales.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,692-92-5582,B,Mandalay,Member,Female,Food_and_beverages,54.84,3,8.226,172.746,2/20/2019,13:27:00,Credit card,164.52,4.761905,8.226,5.9
1,351-62-0822,B,Mandalay,Member,Female,Fashion_accessories,14.48,4,2.896,60.816,2019-06-02 00:00:00,18:07:00,Ewallet,57.92,4.761905,2.896,4.5
2,529-56-3974,B,Mandalay,Member,Male,Electronic_accessories,25.51,4,5.102,107.142,2019-09-03 00:00:00,17:03:00,Cash,102.04,4.761905,5.102,6.8
3,299-46-1805,B,Mandalay,Member,Female,Sports_and_travel,93.72,6,28.116,590.436,1/15/2019,16:19:00,Cash,562.32,4.761905,28.116,4.5
4,319-50-3348,B,Mandalay,Normal,Female,Home_and_lifestyle,40.30,2,4.030,84.630,2019-11-03 00:00:00,15:30:00,Ewallet,80.60,4.761905,4.030,4.4

In [ ]:
# fix column names
def fix_column_names(dataframe):
    dataframe.columns = [col.lower().replace(" ", "_") for col in dataframe.columns]
    
# call the fix_column_names
fix_column_names(df_sales)
df_sales.head()

NameError: name 'df' is not defined